extends layout

block head
  title 用户

block navTitle
  .mui-title 用户

block content
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/account/setting")
        //-img#head-img.mui-media-object.mui-pull-left.head-img(src="")
        .mui-media-body 欢迎回来
        .mui-media-body #{account.account}
  .mui-content-padded
    h5 参与游戏列表
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/table?tableId=1")
        .mui-media-body 游戏桌 1
  .mui-content-padded
  ul.mui-table-view.mui-table-view-chevron
    li.mui-table-view-cell.mui-media
      a.mui-navigate-right(href="/table/list")
        .mui-media-body 其他游戏桌
