extends layout

block head
  title 账户列表

block navTitle
  h1.mui-title 控制台 > 账户列表

block content
  ul.mui-table-view.mui-table-view-chevron
    - each account in list
      li.mui-table-view-cell.mui-media
        a.mui-navigate-right(href="/console/account/#{account.account}")
          .mui-media-body #{account.account}