doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title 桌 #{tableId} / 游戏 #{gameName}
    script(src = "/js/phaser.js")
    script(src = "/asset/#{gameId}/main.js")
    style body {height: 100%; margin: 0; padding: 0}
  body
    script.
      var width = document.documentElement.clientWidth;
      var height = document.documentElement.clientHeight;
      var game = new Phaser.Game({
        type: Phaser.AUTO,
        width: width,
        height: height,
        backgroundColor: '#003333',
      });

      gameStart(game, null);
