doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title 游戏桌 #{table.id} / 游戏 #{game.cnname}
    script(src = "http://cdn.jsdelivr.net/npm/phaser@3.6.0/dist/phaser.min.js")
    script(src = "/assert/#{game.name}/main.js")
    style body {height: 100%; margin: 0; padding: 0}
  body
    script.
      var width = document.documentElement.clientWidth;
      var height = document.documentElement.clientHeight;
      var game = new Phaser.Game({
        type: Phaser.AUTO,
        width: width,
        height: height,
        backgroundColor: '#C19A6B',
      });

      gameStart(game, null);
