extends layout

block navLeft

block style
  style
    .mui-content-padded {margin-top: 25px;}

block content
  .mui-content-padded
    button#startGame.mui-btn.mui-btn-block.mui-btn-primary 开始游戏

block script
  script.
    document.getElementById('startGame').addEventListener("tap", function(event) {
      window.location="/account";
    });