doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html", charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="https://cdn.bootcss.com/mui/3.7.1/css/mui.min.css")
    block head
  body
    header.mui-bar.mui-bar-nav
      block navLeft
        a.mui-action-back.mui-icon.mui-icon-back.mui-pull-left
      block navTitle
        h1.mui-title= navTitle
      block navHome
        a.mui-icon.mui-icon-home.mui-pull-right(href="/")
    .mui-content
      block content
    script(src="https://cdn.bootcss.com/mui/3.7.1/js/mui.min.js")
    block script
