extends layout

block style
  style
    .mui-input-group {margin-top: 10px;}
    .mui-content-padded {margin-top: 25px;}
    .link-area {display: block; margin-top: 25px; text-align: center;}
    .spliter {color: #bbb; padding: 0px 8px;}

block content
  form#login-form.mui-input-group
    .mui-input-row
      label 账号
      input#account.mui-input-clear.mui-input(type="text", placeholder="请输入账号")
    .mui-input-row
      label 密码
      input#password.mui-input-clear.mui-input(type="password", placeholder="请输入密码")
  //form.mui-input-group
  //  ul.mui-table-view.mui-table-view-chevron
  //    li.mui-table-view-cell
  //      自动登录
  //      #autoLogin.mui-switch
  //        .mui-switch-handle
  .mui-content-padded
    button#login.mui-btn.mui-btn-block.mui-btn-primary 登录
    //.link-area
    //  a#reg 注册账号
    //  span.spliter |
    //  a#forgetPassword 忘记密码
  .mui-content-padded.oauth-area

block script
  script.
    document.getElementById('login').addEventListener("tap", function(event) {
      var account = document.getElementById('account').value;
      var password = document.getElementById('password').value;        
      if (account && password) {
        var query = 'account=' + account + '&password=' + password;
        mui.ajax('/account/check', {
          data: query,      
          dataType:'json',//服务器返回json格式数据
          type:'get',//HTTP请求类型
          timeout:10000,//超时时间设置为10秒；
          headers:{'Content-Type':'application/json'},
          success:function(data){
            if (data.ret == 'ok') {
              window.location="/account"
            }
          },
          error:function(xhr,type,errorThrown){
            //异常处理；
            console.log(type);
          },
        })
      }
    });