extends layout

block style
  style
    .mui-input-group {margin-top: 10px;}
    .mui-content-padded {margin-top: 25px;}

block content
  form#login-form.mui-input-group
    .mui-input-row
      label 账号
      input#account.mui-input-clear.mui-input(type="text", placeholder="请输入账号")
    .mui-input-row
      label 密码
      input#password.mui-input-clear.mui-input(type="password", placeholder="请输入密码")
    .mui-input-row
      label 邀请码
      input#invitation.mui-input-clear.mui-input(type="text", placeholder="请输入邀请码")
  .mui-content-padded
    button#register.mui-btn.mui-btn-block.mui-btn-primary 注册

block script
  script.
    document.getElementById('register').addEventListener("tap", function(event) {
      var account = document.getElementById('account').value;
      var password = document.getElementById('password').value;
      var invitation = document.getElementById('invitation').value;
      if (account && password) {
        mui.ajax('/account/check', {
          data: {
            action : "register",
            account: account,
            password : password,
            invitation : invitation,
          },      
          dataType:'json',//服务器返回json格式数据
          type:'post',//HTTP请求类型
          timeout:10000,//超时时间设置为10秒；
          headers:{'Content-Type':'application/json'},
          success:function(data){
            if (data.ret == 'ok') {
              window.location="/account"
            }
          },
          error:function(xhr,type,errorThrown){
            //异常处理；
            console.log(type);
          },
        })
      }
    });