extends layout

block head
  title 游戏桌列表

block navTitle
  .mui-title 游戏桌列表

block content
  .mui-content-padded
    button#newTable.mui-btn.mui-btn-block.mui-btn-primary 创建游戏桌
  ul.mui-table-view.mui-table-view-chevron
    - each table in list
      li.mui-table-view-cell.mui-media
        a.mui-navigate-right(href="/table/setting?tableId=#{table.tableId}")
          .mui-media-body ###{table.tableId}

block script
  script.
    document.getElementById('newTable').addEventListener("tap", function(event) {

    });